body
{
    color:white;
    background-image: url("https://t4.ftcdn.net/jpg/05/18/41/91/360_F_518419158_yXXBww2r5Z3XoutBxRX8KHNZOpPjhC03.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}

#calc-outer
{
    display: grid;
    padding: 20px;
    height: 665px;
    width: 750px;
    border: 10px solid #486081;
    box-sizing: border-box;
    background-color: steelblue;
}

#interface
{
    padding: 20px;
    height: 150px;
    width: 680px;
    border: 10px solid #486081;
    box-sizing: border-box;
}
#grid-container
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: black;
    padding: 10px;
}


.btn
{
    width: 100px;
    height: 50px;
    background-color: steelblue;
    text-decoration-color: white;
    text-size-adjust: auto;
}

.btn:hover
{
   background-color: #bae4fd;
}
